<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="localhost_elly_gym_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-RH94TE5;integrated security=SSPI;initial catalog=elly_gym" />
    <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-RH94TE5;integrated security=SSPI;initial catalog=elly_gym" />
    <add name="localhost_elly_gym_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-RH94TE5;integrated security=SSPI;initial catalog=elly_gym" />
    <add name="localhost_elly_gym_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-RH94TE5;integrated security=SSPI;initial catalog=elly_gym" />
    <add name="elly_gym.Properties.Settings.F__ELLY_GYM_DATABASE_ELLYDATABASE_MDFConnectionString"
        connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=F:\ELLY_GYM\DATABASE\ELLYDATABASE.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
